<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title%></title>
    <% include partials/headtag%>
</head>
<body>
<% include partials/header%>
<!-- Insert Body here -->
<%- body %>
<!-- /.container -->
<% include partials/footer.ejs%>
</body>
</html>
